.page__container {
  display: grid;
  grid-template-columns: minmax(auto, calc(1920/ 2)) minmax(auto, calc(1920 / 2));
  min-height: 720px;
  height: 100vh;
  background-image: url('../images/bg-main-desktop.png');
  background-repeat: no-repeat;
}

.left__column {
  grid-column: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  padding-right: 3em;
  gap: 3em;
}

.right__column {
  grid-column: 2;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 3em;
}

